{% extends 'base.html' %}

{% block title %}Профиль{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-8 mx-auto">
        <div class="card">
            <div class="card-header">
                <h3>Профиль пользователя</h3>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4 text-center">
                        {% if user.profile.avatar %}
                            <img src="{{ user.profile.avatar.url }}" alt="Аватар" class="img-fluid rounded-circle mb-3" style="max-width: 200px;">
                        {% else %}
                            <div class="bg-light rounded-circle d-flex align-items-center justify-content-center mb-3" style="width: 200px; height: 200px;">
                                <span class="text-muted">Нет аватара</span>
                            </div>
                        {% endif %}
                        <a href="{% url 'users:profile' %}" class="btn btn-outline-primary mt-2">Редактировать профиль</a>
                    </div>
                    <div class="col-md-8">
                        <table class="table table-borderless">
                            <tr>
                                <th>Email:</th>
                                <td>{{ user.email }}</td>
                            </tr>
                            <tr>
                                <th>Телефон:</th>
                                <td>{{ user.profile.phone|default:"Не указан" }}</td>
                            </tr>
                            <tr>
                                <th>Страна:</th>
                                <td>{{ user.profile.country|default:"Не указана" }}</td>
                            </tr>
                            <tr>
                                <th>Дата регистрации:</th>
                                <td>{{ user.date_joined|date:"d.m.Y H:i" }}</td>
                            </tr>
                            <tr>
                                <th>Последний вход:</th>
                                <td>{{ user.last_login|date:"d.m.Y H:i" }}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}